
#logo {
  fill: #ff8b85;
  stroke: #ff8b85;
  line-height: 0;
}


@keyframes animatebubbles {
  0% {
    transform: translateY(0px) translateX(0px);
  }

  18% {
    transform: translateY(-200px) translateX(20px)
  }
  
  30% {
    transform: translateY(-300px) translateX(0px);

  }

  45% {
    transform: translateY(-425px) translateX(20px);
  }

  60% {
    transform: translateY(-550px) translateX(0px);
  }

  75% {
    transform: translateY(-600px) translateX(-5px)
  }

  100% {
    transform: translateY(-700px) translateX(-0px);
    opacity: 0.65;
  }
}


@keyframes animatepop {
  100% {
    opacity: 0%;
  }
}

 .bubble1 {
  /* transform: translateY(-50px); */
  animation-name: var(--animnm, animatebubbles);
  animation-duration: var(--animdur, 2s);
  animation-iteration-count: var(--animIterC, 1);
  animation-timing-function: var(--animtf, linear);
  animation-delay: var(--animdela, 0s);
  animation-fill-mode: var(--animfm, none);
  animation-play-state: var(--animps, running);
  cursor: pointer;
}

.poppedbubble1 {
  /* transform: translateY(-50px); */
  opacity: 0;
  transition: 1.5s;
}









